.chat {
  display: flex;
  flex-direction: column;
  flex: 0.65;
}

.chat__header {
  display: flex;
  padding: 20px;
  align-items: center;
  border-bottom: 1 px solid lightgray;
}

.chat__headerInfo {
  flex: 1;
}

.chat__headerInfo > h3 {
  margin-bottom: 3px;
  padding-left: 10px;
  font-weight: 500;
}
.chat__headerInfo > p {
  color: gray;
  padding-left: 10px;
}

.chat__body {
  flex: 1;
  background-image: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
  background-repeat: repeat;
  background-position: center;
  padding: 30px;
  overflow: scroll;
}
.chat__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
  border-top: 1px solid lightgray;
}
.chat__footer > form {
  flex: 1;
  display: flex;
}
.chat__footer > form > input {
  flex: 1;
  outline-width: 0;
  border-radius: 30px;
  padding: 10px;
  border: none;
}
.chat__footer > form > button {
  display: none;
}
.chat__footer > .MuiSvgIcon-root {
  padding: 10px;
  color: gray;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.chat__body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.chat__body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
